-- SUMMARY UNIT 1 --

    Comenzamos con la tabla INE_SECCION_2020:

In [1]:
#Importamos Pandas y nuestro archivo CSV a trabajar, renombrado  'sec'.
#Aplicamos el codec 'ISO-8859-1' para poder visualzar correctamente todos los caractéres del CSV.
import pandas as pd
sec = pd.read_csv("C:/Users/User/Documents/UPY/Data Preproccesing/Symmary_Unit1/INE_SECCION_2020.csv", index_col=0, encoding = 'ISO-8859-1')
sec

,ENTIDAD,DISTRITO,MUNICIPIO,SECCION,TIPO,POBTOT,POBFEM,POBMAS,P_0A2,P_0A2_F,...,VPH_TELEF,VPH_CEL,VPH_INTER,VPH_STVP,VPH_SPMVPI,VPH_CVJ,VPH_SINRTV,VPH_SINLTC,VPH_SINCIN,VPH_SINTIC
ID,,,,,,,,,,,,,,,,,,,,,
118,1,3,1,1,2,2564,1360,1204,36,16,...,698,740,738,659,615,288,2,1,12,1
122,1,3,1,2,2,889,462,427,27,15,...,173,253,195,164,145,54,4,20,72,2
128,1,3,1,3,2,2003,1057,946,56,27,...,426,621,559,360,335,184,10,4,74,1
137,1,3,1,4,2,1636,880,756,40,20,...,311,507,456,330,329,147,10,11,61,1
138,1,3,1,5,2,808,445,363,14,6,...,188,256,233,168,119,70,4,0,30,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
910,32,4,17,1907,2,1027,527,500,24,10,...,170,290,272,237,127,87,1,1,16,0
912,32,4,17,1908,2,1589,832,757,54,28,...,249,461,411,365,175,124,2,4,37,0
913,32,4,17,1909,2,269,133,136,13,4,...,30,73,60,53,26,9,0,1,9,0
1956,32,3,39,1910,3,2915,1487,1428,162,71,...,266,715,411,448,94,80,20,32,305,6
1955,32,3,39,1911,3,3868,1982,1886,217,100,...,288,1027,728,561,155,123,26,21,257,0

In [2]:
#Renombramos nuestra data base 'sec' a 'df' y visualizamos las columnas.
df = sec
df.columns

Index(['ENTIDAD', 'DISTRITO', 'MUNICIPIO', 'SECCION', 'TIPO', 'POBTOT',
       'POBFEM', 'POBMAS', 'P_0A2', 'P_0A2_F',
       ...
       'VPH_TELEF', 'VPH_CEL', 'VPH_INTER', 'VPH_STVP', 'VPH_SPMVPI',
       'VPH_CVJ', 'VPH_SINRTV', 'VPH_SINLTC', 'VPH_SINCIN', 'VPH_SINTIC'],
      dtype='object', length=225)

In [3]:
#Insertamos Dummy Columns para 'ENTIDAD'.
pd.get_dummies(df.ENTIDAD)

,1,2,3,4,5,6,7,8,9,10,...,23,24,25,26,27,28,29,30,31,32
ID,,,,,,,,,,,,,,,,,,,,,
118,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
122,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
128,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
137,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
138,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
910,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
912,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
913,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1956,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1955,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [4]:
#Insertamos Dummy Columns para 'TIPO'.
pd.get_dummies(df.TIPO)

      2  3  4
ID
118   1  0  0
122   1  0  0
128   1  0  0
137   1  0  0
138   1  0  0
...  .. .. ..
910   1  0  0
912   1  0  0
913   1  0  0
1956  0  1  0
1955  0  1  0

[68806 rows x 3 columns]

In [5]:
#Checamos las tendencias de los valores.
df.describe()

,ENTIDAD,DISTRITO,MUNICIPIO,SECCION,TIPO,POBTOT,POBFEM,POBMAS,P_0A2,P_0A2_F,...,VPH_TELEF,VPH_CEL,VPH_INTER,VPH_STVP,VPH_SPMVPI,VPH_CVJ,VPH_SINRTV,VPH_SINLTC,VPH_SINCIN,VPH_SINTIC
count,68806.000000,68806.000000,68806.000000,68806.000000,68806.000000,68806.000000,68806.000000,68806.000000,68806.000000,68806.000000,...,68806.000000,68806.000000,68806.000000,68806.000000,68806.000000,68806.000000,68806.000000,68806.000000,68806.000000,68806.000000
mean,16.860753,7.599672,48.347223,1604.947417,2.633608,1831.439467,938.008255,893.430050,83.772026,41.403933,...,191.618667,447.284510,266.069195,221.074746,96.155931,58.818475,25.993547,46.084004,219.576229,12.394748
std,8.286648,7.310902,66.196288,1356.936637,0.879179,2230.152980,1131.936249,1101.468199,120.385041,59.667300,...,287.621981,599.038712,422.913592,312.252411,215.150048,131.652889,45.582430,70.449895,265.982451,31.553548
min,1.000000,1.000000,1.000000,1.000000,2.000000,0.000000,-6.000000,-6.000000,-6.000000,-6.000000,...,-6.000000,-6.000000,-6.000000,-6.000000,-6.000000,-6.000000,-6.000000,-6.000000,-6.000000,-6.000000
25%,10.000000,3.000000,10.000000,558.000000,2.000000,771.000000,396.000000,373.000000,26.000000,13.000000,...,35.000000,184.000000,60.000000,79.000000,5.000000,4.000000,5.000000,9.000000,70.000000,1.000000
50%,15.000000,5.000000,30.000000,1255.000000,2.000000,1293.000000,668.000000,626.000000,50.000000,25.000000,...,126.000000,318.000000,180.000000,152.000000,44.000000,27.000000,12.000000,22.000000,138.000000,3.000000
75%,24.000000,10.000000,59.000000,2275.000000,4.000000,2109.000000,1084.000000,1024.000000,97.000000,48.000000,...,245.000000,501.000000,317.000000,256.000000,106.000000,65.000000,28.000000,54.000000,279.000000,11.000000
max,32.000000,41.000000,570.000000,6637.000000,4.000000,49997.000000,24568.000000,25429.000000,3214.000000,1631.000000,...,6627.000000,14499.000000,11373.000000,9049.000000,6737.000000,3843.000000,1164.000000,1384.000000,6336.000000,1038.000000

In [6]:
#Comprobamos los tipos de datos de cada columna.
df.dtypes

ENTIDAD       int64
DISTRITO      int64
MUNICIPIO     int64
SECCION       int64
TIPO          int64
              ...
VPH_CVJ       int64
VPH_SINRTV    int64
VPH_SINLTC    int64
VPH_SINCIN    int64
VPH_SINTIC    int64
Length: 225, dtype: object

In [3]:
#Verificamos si hay missing values en cada columna.
missing_values_count = df.isnull().sum()
missing_values_count

ENTIDAD       0
DISTRITO      0
MUNICIPIO     0
SECCION       0
TIPO          0
             ..
VPH_CVJ       0
VPH_SINRTV    0
VPH_SINLTC    0
VPH_SINCIN    0
VPH_SINTIC    0
Length: 225, dtype: int64

In [4]:
#Imprimimos el total de missing values.
missing_total = missing_values_count.sum()
print('Total missing values: ', missing_total)

Total missing values:  0

In [8]:
#Verificamos si hay filas duplicadas e imprimimos el total.
duplicated_values = df.duplicated().sum()
print('Total duplicated rows: ', duplicated_values)

Total duplicated rows:  0